.DS_Store
*.bak
.claude/
.claude-handoff.json
Dark-Reader-Settings.json
DarkReader-manual-raycast-com.css
preload.js
skills-lock.json
banner.png
banner.webp
ll1li --Google Chrome--Designing Text for the People Who Read It - Material Design----04-26 ---000069.png
ll1li --Parsec--Parsec----04-27 ---000073.png
welcome1.png
welcome2.png
welcome3.png
wispr-flow-dark-mode.code-workspace
banner.png
